@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");
body {
  margin: 0px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ecf2f8;
}

.grid {
  width: 85%;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 25px;
  grid-auto-rows: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
      grid-template-areas: "clifford clifford" "walters walters" "harmon harmon" "abrams abrams" "whittle whittle";
}

@media only screen and (min-width: 1100px) {
  .grid {
    width: 75%;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 15px;
    grid-auto-rows: 1fr;
    -ms-grid-columns: 2fr 2fr 2fr 2fr;
        grid-template-columns: 2fr 2fr 2fr 2fr;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
        grid-template-areas: "clifford clifford walters  whittle" "harmon abrams abrams whittle";
  }
}

.grid__wide--purple {
  background-color: #7541c8;
  color: #cfcfcf;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: clifford;
  background-image: url(/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0rem right 2rem;
}

.grid__wide--purple h3 {
  color: white;
}

.grid__wide--purple .persona .persona__info b {
  color: white;
}

.grid__box--grey {
  background-color: #48556a;
  color: #cfcfcf;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: walters;
}

.grid__box--grey h3 {
  color: white;
}

.grid__box--grey .persona .persona__info b {
  color: white;
}

.grid__box--white {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: harmon;
  background-color: white;
  color: #48556a;
}

.grid__wide--dark {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: abrams;
  background-color: #19212e;
  color: #cfcfcf;
}

.grid__wide--dark h3 {
  color: white;
}

.grid__wide--dark .persona .persona__info b {
  color: white;
}

.grid__tall {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: whittle;
  background-color: white;
  color: #48556a;
}

.grid__card {
  border-radius: 10px;
  padding: 1.5rem;
}

.grid__card q {
  font-size: 12px;
  line-height: 1rem;
  font-family: 'Barlow Semi Condensed', sans-serif;
  opacity: 70%;
}

.grid__card .summary {
  height: auto;
}

.grid__card .summary h3 {
  font-size: 16px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 600;
}

.grid__card .persona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid__card .persona img {
  border-radius: 50%;
  width: 25px;
  border: 3px solid #cfcfcf;
}

.grid__card .persona .persona__info {
  padding-left: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.grid__card .persona .persona__info p {
  margin: .25rem 0rem;
  font-size: 12px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  opacity: 50%;
}

@media only screen and (min-width: 1100px) {
  .grid__card q {
    line-height: 1.25rem;
  }
  .grid__card .summary {
    height: 4rem;
    line-height: 1.25;
  }
  .grid__card .persona .persona__info {
    padding-left: 1rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .grid__card .persona .persona__info p {
    margin: .25rem 0rem;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */